body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 20px;
    background-color: #00072d;
    color: #eee;
    padding: 50px 15px 15px 15px;
}

ul {
    margin: 15px;
    padding: 0;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

ul li {
    list-style: none;
    user-select: none;
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 2px;
    border: 1px solid #0d2472;
    border-radius: 5px;
}

ul li:hover {
    background: linear-gradient(90deg, #121959, #172179, #384194);
    border-color: #123499;
}

.error-message {
    color: red;
}

#spinner {
    margin: 30px;
    width: 50px;
    height: 50px;
}