body {
  font-size: 20px;
  max-width: 100vw;
  background-color: #00072d;
  color: #eee;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 50px 15px 15px 15px;
}

.text-box {
  text-align: start;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #0d2472;
  border-radius: 10px;
}

.alert-text {
  color: red;
}

#spinner {
  margin: 30px;
  width: 50px;
  height: 50px;
}