.models-list {
  margin: 15px;
  padding: 0;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-button {
  list-style: none;
  user-select: none;
  text-align: center;
  width: 100%;
  margin: 5px;
  padding: 2px;
  border: 1px solid #0d2472;
  border-radius: 5px;
  cursor: pointer;
}

.model-button:hover {
  background: linear-gradient(90deg, #121959, #172179, #384194);
  border-color: #123499;
}