.text-box {
  text-align: start;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #0d2472;
  border-radius: 10px;
}


.prompt-box {
  min-height: 150px;
  padding: 5px;
  font-size: 16px;
  color: #eee;
  background-color: #00072d;
  border: 1px solid #0d2472;
  border-radius: 5px;
}

.prompt-box:focus-visible {
  outline-color: #0d2472;
  box-shadow: 3px 3px 5px #123499;
}

.prompt-box::selection {
  background-color: #eee;
  color: #111;
}


.answer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: start;
  text-align: left;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #0d2472;
  border-radius: 10px;
}

.answer>* {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
}

.answer table {
  display: block;
}

.answer table td {
  padding: 10px;
  min-width: 100px;
}

.answer::selection {
  background-color: #eee;
  color: #111;
}