.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: start;
  align-items: start;
  margin: 50px 10px 15px 10px;
  max-width: 90%;
  padding: 15px;
}

.question {
  background: linear-gradient(135deg, #121959, #172179);
  user-select: none;
}

.answer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: start;
  text-align: left;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #0d2472;
  border-radius: 10px;
}

.answer>* {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
}

.answer table {
  display: block;
}

.answer table td {
  padding: 10px;
  min-width: 100px;
}

.answer::selection {
  background-color: #eee;
  color: #111;
}